body {
    background-color: violet;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: repeat(4, [row-start] 1fr);
}


/* .cpuPlaying{
    grid-template-columns:16vmax repeat(auto-fill, );
} */

button{
max-width: 6vmax;
max-height: 3vmax;
text-align: center;
}

