body {
    background-color: violet;
    display: grid;
    min-height: 100vh;
}
section{
    height: 50vmax;
    width: 30vmax;
 border: black;
 border-style: dashed
    text-align: ;
}
/* div{
    border: black;
 
}
.cpuGrid{
    display:-ms-inline-grid
}

.playerGrid{
    display: -ms-inline-grid;
    
}

.playBtn{
max-width: 13%;
}

.replayBtn{
    max-width: 13%;
} */